services:
  web:
      build:
        context: .
        dockerfile: ./docker/production/nginx/Dockerfile
      restart: unless-stopped
      volumes:
        - laravel-storage-production:/var/www/storage:ro
      networks:
        - app-network
      ports:
        - "${NGINX_PORT:-80}:80"
      depends_on:
        php-fpm:
          condition: service_healthy

  php-fpm:
    build:
      context: .
      dockerfile: ./docker/common/php-fpm/Dockerfile
      target: production
    restart: unless-stopped
    volumes:
      - laravel-storage-production:/var/www/storage
    env_file:
      - .env
    networks:
        - app-network
    healthcheck:
      test: ["CMD-SHELL", "php -v || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      db:
        condition: service_healthy


  python-app:
      build: ./desk-api
      ports:
        - "${DESK_PORT}:5000"
      restart: always
      networks:
        - app-network
  db:
      image: postgres:18
      restart: always
      shm_size: 128mb
      environment:
        POSTGRES_USER: ${DB_USERNAME}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        POSTGRES_DB: ${DB_DATABASE}
      networks:
        - app-network

      ports:
      - "${DB_PORT}:5432"

      volumes:
      - postgres_data:/var/lib/postgresql

      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
        interval: 10s
        timeout: 3s

volumes:
  postgres_data:
  laravel-storage-production:
networks:
  app-network:
  