
main {
    flex-direction: row;
}

body {
    flex-direction: column;
}

button { 
    background: #a0524d; 
    padding: 0.7rem 1.5rem; 
    margin: 0; 
    border-radius: 5px;
    font-family:"Jost", sans-serif;
    color: antiquewhite;
}

.app-bar {
    background: #6d4c7d; 
    padding: 1rem 2rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.filters, .list {
    display: flex;
    flex-direction: column;
}

.filters {
    width: 15%;
    border-right: 2px solid var(--color-primary);
    margin: 1rem 0rem;
}

.filters h1 {
    align-self: center;
}

.list {
    padding: 1rem;
    gap: 1rem;    
    flex: 1;
}

.request {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    max-height: min-content;
    justify-content: space-between;
    padding: 0rem 1rem;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 1rem;
}