:root {
  --color-primary: #524656;
  --color-secondary: #68606B;
  --color-background: #D9D9D9;
  --color-text: #3B3446;
  --color-error: #dc2626;
}

html body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

h1, h2 {
  font-weight: normal;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}