.content {
    display: flex;
    flex: 1;
}

.admin-nav {
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}


form {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 h2 {
    color: var(--color-primary);
}

h1 {
    margin: 0 5rem;
}

.input-container {
    width: 50%;
}

.input-container input {
    width: 100%;
    height: 1.5rem;
    border: 0;
}

.submit-bt {
    font-size: large;
    border: 0;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;

}

.radio-imput {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    width: 50%;
    height: 1.5rem;
}