form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 h2 {
    color: var(--color-primary);
}

.header {
    margin: 1rem 2rem;
}

h1 {
    margin: 0 5rem;
}

.input-container {
    width: 50%;
}

.input-container input {
    width: 100%;
    height: 1.5rem;
    border: 0;
}

.submit-bt {
    font-size: large;
    border: 0;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;

}

.text-bt {
    text-decoration: none;
    color: var(--color-text);
}

.text-bt:hover {
    text-decoration: underline;
}

.access {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.access label {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.access input[type="radio"] {
    margin-right: 0.5rem;
}